language: ruby
sudo: false
services:
  - redis-server
before_install:
  - gem install bundler
  - gem update bundler
rvm:
  - 2.3.3
gemfile:
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
script: "bundle exec rake spec"
