<div class="panel panel-remote" id="<%= dom_id channel_listing %>">
  <div class="panel-body-grid">
    <div class="panel-body-grid-photo">
    </div>
    <div class="panel-body-grid-text">
      <h4 title="<%= RemoteRental.human_attribute_name(:uid) %>
        <%= channel_listing.uid %>"><%= channel_listing.display_name %></h4>
      <p class="text-overflow"></p>
    </div>
  </div>
</div>
