<div class="panel panel-remote" data-remote-account-id="<%= channel_listing_section.id %>">
  <div class="panel-body-grid text-center">
    <%= t ".drop_here", portal_name: BookingsyncPortal.portal_name %>
  </div>
</div>
