<div class="panel panel-remote new-remote-rental"
  data-remote-account-id="<%= remote_account.id %>">
  <div class="panel-heading text-center">
    <%=t ".drop_here", portal_name: BookingsyncPortal.portal_name %>
  </div>
</div>
