<div class="panel panel-remote"
  data-remote-account-id="<%= remote_account.id %>">
  <div class="panel-body-grid text-center">
    <%=t ".drop_here", portal_name: BookingsyncPortal.portal_name %>
  </div>
</div>
