<div class="panel panel-remote" id="<%= dom_id remote_rental %>">
  <div class="panel-body-grid">
    <div class="panel-body-grid-photo">
    </div>
    <div class="panel-body-grid-text">
      <h4 title="<%= RemoteRental.human_attribute_name(:uid) %>
        <%= remote_rental.uid %>"><%= remote_rental.display_name %></h4>
      <p class="text-overflow"></p>
    </div>
  </div>
</div>
