<%- if visible_rentals.count == 0 -%>
  <div class="lead text-center well">
    <p><%= t(".no_published_rentals_html", id: current_account.synced_id) %></p>
  </div>
<%- elsif not_connected_rentals.count > 0 -%>
  <% not_connected_rentals.each do |rental| %>
    <%= render rental %>
  <% end %>
<%- else -%>
  <div class="lead text-center well">
    <p class=""><%= icon "far", "thumbs-up fa-lg" %></p>
    <p><%=t ".all_synchronized" %></p>
  </div>
<%- end -%>
