<!DOCTYPE html>
<html>
<head>
  <title>BookingsyncPortal</title>
  <%= stylesheet_link_tag    "bookingsync_portal/application", media: "all" %>
  <%= javascript_include_tag "bookingsync_portal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
