<div class="panel panel-connected" id="rental_{{rentalId}}">
  <div class="panel-heading" title="{{listingId}}">{{rentalName}}</div>
  <div class="panel-body"><i class="fa fa-spinner fa-spin"></i> Synchronizing...</div>
</div>
