<div class="panel panel-connected" id="rental_{{rentalId}}"}}>
  <div class="panel-heading" title="{{listingId}}">{{rentalName}}
    <a href="{{disconnect_url}}"
      class="btn btn-default btn-xs remove-connection"
      data-method="delete">Remove Connection</a>
  </div>
  <div class="panel-body"><i class="fa fa-spinner fa-spin"></i> Synchronizing...</div>
</div>
