<form class="filterform" action="#">
  <div class="form-group">
    <label class="control-label" for="{{inputId}}">Search in listings</label>
    <input class="filterinput form-control" type="text" id="{{inputId}}" name="query">
  </div>
</form>
