<div class="col-sm-offset-4 col-sm-4 form-group">
  <%= simple_form_for [:admin, remote_account] do |f| -%>
    <div class="form-group">
      <%= f.input :uid, input_html: { class: 'input-lg form-control' } -%>
    </div>

    <div class="form-group">
      <%= f.submit t('.submit_new'), class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <%- end -%>
</div>
