<p class="lead"><%=t '.register_html', email_link: '<a href="mailto:sales.support@holidaylettings.co.uk?body=Hi%2C%0A%0AMy%20name%20is%3A%20YOUR_NAME%0AMy%20Owner%20ID%3A%20YOUR_OWNER_ID%0A%0ACould%20you%20please%20allow%20my%20account%20to%20work%20with%20the%20IP%2054.72.12.1%20and%2054.72.77.249.%0AThe%20SecretKey%20is%200YY4G1O0K9BONZ2S1EJJ1YOJV5B5R4%0A%0APlease%20let%20me%20know%20once%20done%20so%20I%20can%20keep%20my%20listings%20updated.%0AThank%20you%2C&amp;subject=New%20connection%20with%20BookingSync">'.html_safe + t('.email_link_title') + '</a>'.html_safe %></p>
</h1>
<div class="text-left">
  Send To: <pre>sales.support@holidaylettings.co.uk</pre>
  Subject: <pre>New connection with BookingSync</pre>
  Message:
<pre>
Hi,

My name is: YOUR_NAME
My Owner ID: YOUR_OWNER_ID

Could you please allow my account to work with the IP 54.72.12.1 and 54.72.77.249.
The SecretKey is 0YY4G1O0K9BONZ2S1EJJ1YOJV5B5R4

Please let me know once done so I can keep my listings updated.
Thank you,
</pre>
</div>